@import 'tailwindcss';

@theme {
  --color-darkBg: #1a1a1a;
  --color-secondaryBg: #262626;
  --color-text-base: #f0f0f0;
  --color-text-secondary: #b0b0b0;
  --color-border-base: #2f2f2f;
  --color-accent: #d47b2d;
  --color-alert: #c0392b;
  --color-success: #27ae60;
}

@font-face {
  font-family: 'Optimus Princeps';
  src: url('@/assets/OptimusPrinceps.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Optimus Princeps';
  src: url('@/assets/OptimusPrincepsSemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  background-color: #1a1a1a;
  font-family: 'Optimus Princeps', ui-sans-serif, system-ui, sans-serif;
  color: #f0f0f0;
}

button {
  cursor: pointer;
}

main {
  padding-top: var(--header-height);
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
  }

  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
